.Messages {
  grid-row     : 4;
  grid-column  : 2 / 5;
  height       : fit-content;
  margin-bottom: .4rem;
}

.message-board {
  display     : flex;
  /* flex-flow: column; */
  width       : 100%;
}

.errors-section {
  max-height  : 10rem;
  /* min-width: 50%; */
  width : 50%;
  border-left: black 1px solid;
}

.message-section {
  max-height  : 10rem;
  /* min-width: 50%; */
  width : 50%;
}

@media (max-width: 800px) {
  .Messages {
    grid-row     : 5;
    grid-column  : 2 / 3;
    height       : unset;
    /* margin-bottom: unset; */
    max-height   : unset;
  }
  
  .message-board {
    flex-flow : column;
  }
  
  .errors-section {
    width: auto;
    max-height: 15rem;
    /* max-height   : unset; */
    border-left: none;
    border-top: black 1px solid;
  }
  
  .message-section {
    /* max-height   : 50%; */
    max-height: 15rem;
    width: auto;
  }
}