/* === MAIN === */

.Trade {
    display              : grid;
    grid-column-start    : 1;
    grid-row             : 2/4;
    grid-template-columns: auto auto;
    grid-template-rows   : auto auto;
    height               : min-content;
    margin: 1rem;
    border: 1px solid black;
}

.title {
    grid-row   : 1;
    grid-column: 1 / 3;
    background-color: rgb(98, 127, 128);
    /* margin     : .4rem auto; */
    margin-top: 0;
    text-align: center;
    /* border-top: 1px solid black; */
    border-bottom: 1px solid black;
}

.trade-description {
    grid-column: 2;
    grid-row   : 2;
    margin     : 0 1rem;
}

/* === FORM === */

.new-trade-form {
    grid-column       : 1;
    grid-row          : 2;
    display           : flex;
    /* justify-content: right; */
    flex-direction    : column;
}

label {
    /* width: max-content; */
}

/* === INPUTS === */

input {
    background      : rgb(209, 202, 192);
    /* color        : rgb(209, 202, 192); */
    background-color: rgb(209, 202, 192);
    font-family     : inherit;
    /* width        : 100%; */
    /* margin       : 0% .2%; */
}

.number-inputs {
    /* margin: .4rem 0 .4rem auto; */
    display         : flex;
    flex-direction  : column;
    /* justify-items: right; */
}

/* === BUTTONS === */

.increment-buttons {
    margin: auto;
    width : max-content;
}

.increase input {
    /* background-color: rgb(20, 238, 20); */
    width: 4rem;
}

.decrease input {
    width: 4rem;
}

.btn-send-trade {
    /* float: right; */
    /* background-color: rgb(93, 216, 238); */
    font-size: large;
}