.Menu {
    grid-column: 4;
    grid-row: 1/2;
    display: block;
}

.toggle {
    background-color: #b34053;
    width: 10rem;
    height: 10rem;
    font-size: xx-large;
}

@media (max-width: 800px) {
    .Menu {
        grid-column: 2;
        grid-row: 2;
        display: block;
    }
}