.Messages>.title.collapser {
  /* color : rgb(173, 14, 14); */
  user-select: none;
}

.message-section {
  display          : flex;
  border-left      : black 1px solid;
  flex-direction   : column;
  /* max-height    : 10rem; */
  flex             : 1;
  transition       : max-height .08s;
}

.message-section:first-of-type {
  border-left: none;
}

.message-section.collapsed {
  /* transition: max-height .5s; */
  max-height: calc(1.4rem - 1px);
  overflow  : hidden;
}

.message-section.expanded {
  max-height: 10rem;
}

.message-board {
  display: flex;
}

.message-list {
  display         : flex;
  flex-direction  : column-reverse;
  /* justify-items: flex-start; */
  height          : 100%;
  /* overflow-y   : auto; */
}

.msg-line.deleted {
  color: rgba(187, 74, 74, 0.541);
}

.message-item .delete-btn {
  position: absolute;
  left    : 0;
  top     : 0;
  cursor  : pointer;
}

.message-item strong {
  user-select: none;
}

@media (max-width: 800px) {

  .Messages {
    height    : 100%;
    overflow-y: auto;
    border-top: none;
  }

  .message-board {
    display               : grid;
    grid-template-columns : auto-fit;
    grid-template-rows    : auto-fit;
    /* align-items        : stretch; */
    height                : 100%;
  }

  div.spacer {
    height      : 100rem;
    width       : 100%;
    /* flex-grow: 1; */
  }

  .message-section {
    border-top : black 1px solid;
    grid-column: 1;
    overflow-y : auto;
    border-left: none;
    width      : 100%;
    max-height : 100%;
    transition : none;
  }

  .message-section h3 {
    /* .message-section h3.expanded.fully  */
    /* color        : red; */
    user-select: none;
    display         : flex;
    border          : none;
    min-height      : 2rem;
    justify-content : center;
    align-items     : center;
    flex-grow       : 0;
    /* border-bottom: none; */
    /* margin       : 0; */
    /* padding      : 0; */
  }

  .message-section.expanded {
    max-height           : calc(100%);
    /* height            : 100%; */
    /* justify-self      : stretch; */
    /* align-self        : stretch; */
    /* border-bottom     : none; */

  }

  .message-section.collapsed {
    border-top: black 1px solid;
    display   : block;
    max-height: calc(2rem);
    overflow  : hidden;
  }

  .collapsed .message-list,
  .collapsed .chat-form {
    display: none;
  }
}

.message-item {
  margin      : 0 .1rem;
  padding-left: 5px;
  position    : relative;
  word-wrap   : break-word;
}

.message-item:last-of-type {
  margin-bottom: 2px;
}

.message-item strong {
  color: rgb(73, 137, 137);
}

.message-item::before,
.message-item::after {
  position     : absolute;
  width        : .2rem;
  height       : calc(100% - 4px);
  content      : "";
  left         : 0;
  bottom       : 0;
  border-left  : 2px solid #7b7b7b;
  border-bottom: 2px solid #7b7b7b;
}

.chat-input {
  /* box-sizing: border-box; */
  /* width: calc(100%); */
  /* margin: 3px; */
  flex-grow    : 1;
  resize       : none;
  /* height    : 1.4rem; */
  min-height   : 1.4rem;
  /* max-height: 3.6rem; */
  margin-right : 3px;
  overflow     : auto;
}

.chat-submit {
  cursor: pointer;
}

.chat-form {
  padding        : 3px;
  display        : flex;
  flex-direction : row;
  justify-content: stretch;
}

.chat-input:focus {
  outline      : rgb(144, 58, 58) solid 2px;
  border-radius: 1px;
  /* height    : 3.6rem; */
}

.chat-input.expanded {
  height: 5.6rem;
}

.chat-expand {
  font-size: 0.8rem;
}

.message-item strong.red-text {
  color: rgb(187, 74, 74);
}

.message-item strong.def-text {
  color: var(--btn-text);
}


/* from https://css.gg/trash */
/* .gg-trash {
  box-sizing: border-box;
  position  : relative;
  display   : block;
  transform : scale(var(--ggs, 1));
  width     : 10px;
  height    : 12px;
  border    : 2px solid transparent;
  box-shadow:
    0 0 0 2px,
    inset -2px 0 0,
    inset 2px 0 0;
  border-bottom-left-radius : 1px;
  border-bottom-right-radius: 1px;
  margin-top                : 4px
}

.gg-trash::after,
.gg-trash::before {
  content   : "";
  display   : block;
  box-sizing: border-box;
  position  : absolute
}

.gg-trash::after {
  background   : currentColor;
  border-radius: 3px;
  width        : 16px;
  height       : 2px;
  top          : -4px;
  left         : -5px
}

.gg-trash::before {
  width                  : 10px;
  height                 : 4px;
  border                 : 2px solid;
  border-bottom          : transparent;
  border-top-left-radius : 2px;
  border-top-right-radius: 2px;
  top                    : -7px;
  left                   : -2px
} */