.Confirm {
  /* border: 1px solid black; */
  border-radius: .4rem;
  position: absolute;
  /* position: fixed; */
  width: 18rem;
  /* height: 7rem; */
  /* top: 20%; */
  /* margin: 0 auto; */
  /* right: 40%; */
  z-index: 9;
  margin-left: -9rem;
  padding-bottom: 2rem;
  left: 50%;
  top: 20%;
  color: #ffffff;
  background-color: #722315;
}