@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

/* === MAIN === */

html {
  --scrollbarBG: #50575a;
  --thumbBG: #41bcc060;
}

body {
  background-color: #c7c7b1;
  font-family     : 'Syne Mono', monospace;
}

.title {
  background-color: rgb(98, 127, 128);
  margin          : 0;
  text-align      : center;
  border-bottom   : 1px solid black;
}

.info {
  margin     : .4rem;
}

.small {
  font-size: small;
}

/* === BOXES === */

body,
.scrollable {
  overflow-y: auto;
  max-height: 100%;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar,
.scrollable::-webkit-scrollbar {
  width: 18px;
}

body::-webkit-scrollbar-track,
.scrollable::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb,
.scrollable::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  /* border-radius: 6px; */
  border: 3px solid var(--scrollbarBG);
}
@media (max-width: 800px) {
  body,
  .scrollable {
    overflow-y: auto;
    /* max-height: unset; */
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  
  body::-webkit-scrollbar,
  .scrollable::-webkit-scrollbar {
    width: 18px;
  }
  
  body::-webkit-scrollbar-track,
  .scrollable::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  
  body::-webkit-scrollbar-thumb,
  .scrollable::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    /* border-radius: 6px; */
    border: 3px solid var(--scrollbarBG);
  }
}

.boxed {
  border: 1px solid black;
}

.fit {
  height: fit-content;
}

.divider {
  background-color: black;
  height: 1px;
  width: 100%;
  margin-top: 1rem;
}

.dark {
  background-color: darkgrey;
  border: none;
}

/* === BUTTONS === */

.btn-nav {
  color: white;
  font-size: larger;
  background-color: #363535;
  font-family     : inherit;
  box-shadow      : inset 2px 2px #ffffff99, inset -2px -2px #00000099;
}

.btn-nav:hover {
  background-color: #615d5d;
}

.btn-nav:focus {
  /* remove annoying rounded blue outline when button is focused */
  outline         : none;
  /* change color when focused to resolve accesibility concerns */
  background-color: #7e6f67d3;
}

.btn-red {
  background-color: #ec4141;
  font-family     : inherit;
  box-shadow      : inset 2px 2px #ffffff99, inset -2px -2px #00000099;
}

.btn-red:hover {
  background-color: lightcoral;
}

.btn-red:focus {
  /* remove annoying rounded blue outline when button is focused */
  outline         : none;
  /* change color when focused to resolve accesibility concerns */
  background-color: #b8718c81;
}

.btn-green {
  background-color: rgb(109, 145, 108);
  font-family     : inherit;
  box-shadow      : inset 2px 2px #ffffff99, inset -2px -2px #00000099;
}

.btn-green:hover {
  background-color: rgb(156, 180, 155);
}

.btn-green:focus {
  /* remove annoying rounded blue outline when button is focused */
  outline         : none;
  /* change color when focused to resolve accesibility concerns */
  background-color: rgba(128, 177, 159, 0.596);
}

.btn-blue {
  background-color: rgb(108, 123, 145);
  font-family     : inherit;
  box-shadow      : inset 2px 2px #ffffff99, inset -2px -2px #00000099;
}

.btn-blue:hover {
  background-color: rgb(155, 160, 180);
}

.btn-blue:focus {
  /* remove annoying rounded blue outline when button is focused */
  outline         : none;
  /* change color when focused to resolve accesibility concerns */
  background-color: #7773b398;
}

button:active {
  box-shadow: inset -2px -2px #ffffff99, inset 2px 2px #00000099;
}