/* === MAIN === */

.Settings {
  display                  : block;
  position                 : relative;
  grid-column              : 2/5;
  grid-row                 : 3/5;
  background-color         : #acacaf;
  z-index                  : 1;
  height                   : fit-content;
  width                    : calc(100vw - 2.8rem);
  max-width                : 50rem;
  margin                   : 0 auto;
  padding                  : 1rem;
  border-radius            : .25rem;
}

.Settings.darkTheme {
  color           : rgb(215, 215, 215);
  background-color: rgb(40, 40, 40);
}

@media (max-width: 800px) {
  .Settings {
    /* display     : block; */
    grid-column : 2;
    grid-row    : 3/6;
    /* width       : calc(100% - 2rem); */

  }

  .settings-panel {
    max-height: 60vh;
  }
}

.settings-header {
  text-align: center;
}

.settings-panel {
  max-height: 65vh;
}

.tips {
  float: right;
  /* width should maximize content */
  width: max-content;
}

.close-settings {
  /* height should match the width */
  height: 1.5rem;
  width : 1.5rem;
}