.live-price {
    display    : flex;
    align-items: center;
}

.coinbot-image {
    height          : 5rem;
    background-color: transparent;
}

.robot {
    display        : flex;
    justify-content: space-evenly;
    align-items    : center;
    max-width      : 40rem;
    margin         : auto;
}