.TradeList {
    grid-row     : 2 / 4;
    grid-column  : 3 / 5;
    /* overflow-y: auto; */
    display      : block;
}
@media (max-width: 800px) {
    .TradeList {
        grid-row     : 4;
        grid-column  : 2 / 3;
        /* overflow-y: auto; */
        display      : block;
        max-height: 80vh;
    }

}

.coinbot-image {
    height: 5rem;
    background-color: transparent;
}