.auto-setup-results {
  max-width: 40%;
  margin-left: auto;
}

.auto-setup-form {
  padding-right: 1rem;
}

.auto-setup-form-and-results{
  display: flex;
}

@media (max-width: 1100px) {
  .auto-setup-form-and-results{
    flex-direction: column;
  }
  .auto-setup-results {
    margin-left: auto;
    max-width: unset;
  }
}