.Home {
    display              : grid;
    /* this is STRICTLY A BUSINESS ROBOT, and the color should reflect that! */
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows   : calc((9px + 2vmin)*4.3) auto auto 10rem;
    height: 100vh;
}

.header {
    grid-column-start  : 1;
    grid-column-end    : 4;
    background-color: #000000;
    text-align         : center;
    align-items        : center;
    font-size          : calc(9px + 2vmin);
    color              : white;
}