.buy {

    border-bottom: black 1px solid;
    height: fit-content;
    background-color: rgb(125, 209, 132);
}
.buy:nth-child(2n) {
    background-color: rgb(96, 173, 103);
}

.sell {
    background-color: rgb(167, 119, 92);
    border-top: solid 1px black;
}

.sell:nth-child(2n) {
    background-color: rgb(199, 144, 112);
}

.buy p,
.sell p{
    margin: auto;
    padding: 1rem;
    text-align: center;
}