.buy {
    border-top: solid 1px black;

    height: fit-content;
    background-color: rgb(125, 209, 132);
}
.buy:nth-child(2n) {
    background-color: rgb(96, 173, 103);
}

.sell {
    border-bottom: black 1px solid;
    background-color: rgb(167, 119, 92);
}

.sell:nth-child(2n) {
    background-color: rgb(199, 144, 112);
}

.single-trade {
    margin: auto;
    padding: .25rem;
    text-align: center;
}

.deleting,
.buy button,
.sell button{
    float: right;
    margin: 0;
    padding: .2rem;
    /* text-align: center; */
}