.Status {
    grid-column: 2/4;
    grid-row   : 1;
    display    : flex;
    flex-wrap  : wrap;
}

.status-ticker {
    width: fit-content;
}

@media (max-width: 800px) {
    .Status {
        grid-column: 2/3;
        grid-row   : 3;
        /* display : block; */
    }

}