.Status {
    grid-column: 2/4;
    grid-row   : 2;
    display    : flex;
    flex-wrap  : wrap;
}

.status-ticker {
    /* width: fit-content; */
}

.blue {
    color: rgb(29, 120, 180);
}

.darkTheme.blue {
    color: turquoise;
}

@media (max-width: 800px) {
    .Status {
        grid-column: 2/3;
        grid-row   : 3;
        /* display : block; */
    }

}