/* === FORM === */
.basic-trade-form,
.new-trade-form {
  margin: .4rem;
}

.Trade.SELL-color {
  background-color: rgba(168, 31, 31, 0.15);
}

.Trade.BUY-color {
  background-color: rgba(19, 133, 29, 0.15);
}

/* === INPUTS === */

.number-inputs {
  /* margin: .4rem 0 .4rem auto; */
  display       : flex;
  flex-direction: column;
  margin        : .4rem auto;
}

/* === BUTTONS === */

.btn-collapse {
  height: unset;
  height: 100%;
  float : left;
}

.btn-send-trade {
  height   : 3rem;
  margin   : 1rem auto;
  width    : 100%;
  font-size: larger;
}

.btn-side {
  height      : 3rem;
  width       : 50%;
  min-width   : 8rem;
  font-size   : larger;
}

.basic-trade-buttons {
  display: flex;
}