.Login {
  background-color: #313131;
  background-color: rgb(117, 136, 117);
  max-width       : 15rem;
  margin          : 10vh auto;
  padding         : 1rem;
}

.login-form {
  display       : flex;
  flex-direction: column;
}

.login-button {
  margin-top: 2.6rem;
}

.error-box{
  background-color: rgba(158, 12, 12, 0.685);
  text-align: center;
  padding: .1rem;
  margin-top: 1rem;
}