/* === MAIN === */

.Settings {
  display    : block;
  grid-column: 3;
  grid-row   : 2/4;
  background-color: #acacaf;
  z-index: 1;
  height: fit-content;
  width: fit-content;
  max-width: 50rem;
  margin: 0 auto;
  padding: 1rem;
  border-radius: .25rem;
}

.Settings.darkTheme {
  color: black;
}

@media (max-width: 800px) {
  .Settings {
    display    : block;
    grid-column: 2;
    grid-row   : 2/4;
  }

}

.settings-header {
  text-align: center;
}