/* === MAIN === */

.Settings {
  display         : block;
  grid-column     : 3;
  grid-row        : 2/5;
  background-color: #acacaf;
  z-index         : 1;
  height          : fit-content;
  width           : 100%;
  max-width       : 50rem;
  margin          : 0 auto;
  padding         : 1rem;
  border-radius   : .25rem;
}

.Settings.darkTheme {
  color: black;
}

@media (max-width: 800px) {
  .Settings {
    display    : block;
    grid-column: 2;
    grid-row   : 2/6;
    width: fit-content;
    /* height  : unset; */
  }

  .settings-panel {
    max-height: 60vh;
  }
}

.settings-header {
  text-align: center;
}

.settings-panel {
  max-height: 65vh;
}

.tips {
float: right;
}