.ToggleBot {
    grid-column-start: 3;
    margin: .2rem;
}

.toggle {
    background-color: #cc6699;
    width: 10rem;
    height: 10rem;
    font-size: xx-large;
}

.TradeList {
    grid-column: 2;
    grid-row: 3;
}