.ToggleBot {
    grid-column-start: 4;
    margin: .2rem;
}

.toggle {
    background-color: #b34053;
    width: 10rem;
    height: 10rem;
    font-size: xx-large;
}

.TradeList {
    grid-column: 2;
    grid-row: 3;
}