.ToggleBot {
    grid-column: 4;
    grid-row: 2;
    /* margin: .2rem; */
    height: 10rem;
}

.toggle {
    background-color: #b34053;
    width: 10rem;
    height: 10rem;
    font-size: xx-large;
}